/* / poll form css / */
h1,h2,h3,h4,h5,h6,p,label,body,input{

  color: #3f0c01;

}
.poll-form .select {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.poll-form form {
  background: #fff;
  padding: 39px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 2px #0000001a;
 
}
.poll-form input::placeholder {
  color: #c1c1c1;
}
.poll-form select,.poll-form input:not(input[type="radio"]) {
  border-bottom: 1px solid #C1C1C1 !IMPORTANT;
  padding: 9px 9px;
  border: none;
  cursor: pointer;
  border-radius:0 ;
}
.poll-form select:focus-visible ,.poll-form input:focus-visible ,.poll-form input:focus,
 .poll-form textarea:focus-visible,.poll-form button[type=submit]:focus{
outline: none; 
box-shadow: none; 
}
.poll-form textarea:focus{

  border-color: #C1C1C1;
}
.poll-form input{
  cursor: auto !important;  
}
.poll-form button[type=submit]{
width: 100%;
background: #35CCED;
border: none;
}


.form-check-input {
  cursor: pointer;
}
.poll-form h2 {
  font-weight: 400;
}

.poll-form label.h5 {
  font-weight: 500;
}
.container.poll-form {

  display: flex;
  align-items: center;
  flex-direction: column;
}
body{

  background-image: url(assests/images/Bg-image.png);
  background-size: cover;
  padding-bottom: 30px;
  height: 100vh;
}
@media(max-width:600px){
  .poll-form h2 {
    font-size: 22px;
}
  .poll-form h2 {
    font-size: 22px;
}
.poll-form form {
  padding: 39px 20px;
}
}


