/* / poll form css / */
.poll-form .select {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.poll-form form {
  background: #fff;
  padding: 39px;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 2px #0000001a;
}

.poll-form select {
  border-bottom: 1px solid #8080803d !IMPORTANT;
  padding: 9px 9px;
  border: none;
}
.poll-form select:focus-visible {
outline: none;  
}
.poll-form button{
width: 100%;
}

.form-check-input {
  cursor: pointer;
}
.poll-form h2 {
  font-weight: 400;
}

.poll-form label.h5 {
  font-weight: 500;
}
.container.poll-form {
  height: 100vh;
  display: flex;
  align-items: center;
}

@media(max-width:600px){
  .poll-form h2 {
    font-size: 22px;
}
  .poll-form h2 {
    font-size: 22px;
}
}